@import url('http://fonts.cdnfonts.com/css/dot-matrix');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1440px;
    height: 3905px;;
    background-color: black;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px 60px 8px;  */
    gap: 925px;
    background-color: black;
    position: absolute;
    height: 68px;
    left: 0.18px;
    right: 0.18px;
    top: 0px;
    color: aliceblue;
    width: 1440px;

} 

  
.menu
{
   
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: rgb(47, 137, 215);
    width: 312px;
    height: 44px;
    padding-right: 22px;
    
}


#item2{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 12px 16px; */

width: 90px;
height: 44px;

border-radius: 5px;
}

#item2 p{
    
width: 58px;
height: 20px;

font-family: 'Dot Matrix';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100%;


letter-spacing: 0.04em;

color: #FFFFFF;
}

item3{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 12px 16px; */

width: 86px;
height: 44px;

border-radius: 5px;
}
#item3 p{
    width: 54px;
height: 20px;

font-family: 'Dot Matrix';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100%;

letter-spacing: 0.04em;

color: #FFFFFF;
}


#item1
{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;

width: 112px;
height: 44px;

border-radius: 5px;
}
#item1 p{
    width: 80px;
height: 20px;

font-family: 'Dot Matrix';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100%;

letter-spacing: 0.04em;

color: #FFFFFF;
}
.brand p{
    padding-left: 60px;
    /* padding-right: 60px; */
    padding-top: 30px;
    padding-bottom: 22px;
    font-family: 'Dot Matrix';
    font-weight: 600;
}

.phonetext{
    position: absolute;
width: 302px;
height: 36px;
left: 193px;
top: 171px;
 background: url(phonetext.png);

}


.phone{
   
position: absolute;
width: 282.13px;
height: 564.85px;
margin-top: 171px;
margin-left:579px;
background: url(image1.png);
}

/* .herotext{
    
    width: 374px;
    height: 288px;
    border:2px solid red;
}
.herotext p{
    position: absolute;
    margin-top: 342px;
    margin-left: 961px;;
    color: #FFFFFF;
    width: 374px;
} */
.tagLine{
    width: 378px;
    margin-top: 342px;
    margin-left: 961px;;
position: absolute;
font-family: 'Dot Matrix';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 100%;

letter-spacing: 0.04em;

color: #FFFFFF;
}
.tagline2{
    width: 289px;
    height: 36px;
    position: absolute;
    margin-top: 444px;
    margin-left: 961px;
    color: #FFFFFF;
    font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 100%;

}

.tagline3{
    font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 100%;
/* or 22px */

    width: 373px;
    height: 36px;
    position: absolute;
    margin-top: 510px;
    margin-left: 961px;
    color: #FFFFFF;
}
.learnmore{
    padding: 12px 20px 12px 18px;
gap: 10px;
position: absolute;
width: 138px;
height: 46px;
margin-top: 584px;
margin-left: 961px;
background: #FFFFFF;
border-radius: 5px;
}
.section2
{
    height: 230px;
    width: 1437px;
    position: absolute;
    margin-top: 999px;
    background: url(section2.png);
}

.airpods
{
    position: absolute;
width: 368px;
height: 370.42px;
left: 60px;
top: 1474px;
background: url(image7.png);

}